# Setting up the environment to start our task

1. This code block is importing all libraries required for out task ans taking values of all api keys
2. We can't proceed without these libraries, so this is the must step

In [1]:
# Import json library
import simplejson as json

# Import the tweepy library, helper library for twitter api
import tweepy

# Import python file containing my credentials
import my_keys_credentials

# Import pandas library to display data in tabular format
import pandas as pd

In [2]:
# Storing values of all credentials from my_keys_credentials file
# Variable names themselves signify their work
consumer_key =  my_keys_credentials.CONSUMER_KEY
consumer_secret = my_keys_credentials.CONSUMER_SECRET
access_key = my_keys_credentials.ACCESS_TOKEN
access_secret = my_keys_credentials.ACCESS_SECRET

# Fetching all tweets and dumping them in json file

1. This code cell uses the Twitter api to fetch tweets from the specific user's timeline and store them in a file
2. Since we need to fetch tweets we had to use twitter api, and than store it in jsonlines file which are easy to extend further as in comparison to json

In [3]:
def recieve_tweets(user_name,file_name): 
    """Fucntion which takes user_name, file_name, user_name is the twitter handle of the person from whose timeline 
    tweets will be take and file_name is the json file name where tweets will be stored"""          
        
    # Authorization to for twitter api
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret) 
  
    # Access usnig uset access credentials
    auth.set_access_token(access_key, access_secret) 
  
    # Calling API function
    api = tweepy.API(auth) 
        
    # Maximum Number of tweeets we want to extract
    number_of_tweets=10000
        
    # Extracting required tweets        
    tweets = api.user_timeline(screen_name=user_name,count =number_of_tweets)
        
    # Loop to iterate over every tweet and add it to the json file     
    for tweet in tweets:
        # Writing into the json target file   
        with open(file_name, 'a', encoding='utf8') as file:
            file.write(json.dumps(tweet._json))   
            file.write('\n')
        
# Calling the above function
recieve_tweets("@midasIIITD",'tweets.json')

# Parsing JSON  files to display the following information for every tweet in a tabular format.

● The text of the tweet.

● Date and time of the tweet.

● The number of favorites/likes.

● The number of retweets.

● Number of Images present in Tweet. If no image returns None.

1. The following code cell defines the function which take the file_name and than returns the pandas dataframe to display data in tabular form
2. To display the data in tabular format we first need to create the dataframe object containing all rows and all columns data which can than be easily used to display them in quite better form of tables

In [4]:
def display_tweets(tweets_file_name):
    """Function which take tweets_file_name and returns pandas dataframe of all tweets.
    tweets_file_name is the attribute that take address of json file
    from where tweets will be take"""

    # Opening json file     
    tweets_file = open(tweets_file_name, "r",encoding='utf8')
    tweets_file.seek(0, 0)
    
    # Tweets data for all tweets     
    tweets_data = []
    
    # Iterating over all lines in tweets_filename   
    for line in tweets_file.readlines():
        try:
            # Read in one line of the file, convert it into a json object 
            tweet = json.loads(line)
            
            temp = []
            if 'text' in tweet: # only messages contains 'text' field is a tweet
                temp.append(tweet['text'])
                temp.append(tweet['created_at'])
                temp.append(tweet['favorite_count'])
                temp.append(tweet['retweet_count'])
                img_count = 0
                try:
                    for media in tweet['entities']['media']:
                        if media['type'] == 'photo':
                            img_count += 1
                except:
                    pass
                if(img_count==0):
                    img_count = None
                temp.append(img_count)
                tweets_data.append(temp)

        except:
            # read in a line is not in JSON format (sometimes error occured)
            continue
            
    # Closing file Handle                   
    tweets_file.close()
    
    # Converting into pandas dataframe
    df = pd.DataFrame(tweets_data)
    df.columns = ["Text", "Date and Time", "Favorite Count", "Retweet Count","Images Count"]
    return df

In [5]:
# Calling above funtion and printing table

tweets_filename = 'tweets.json'
table = display_tweets(tweets_filename)
table

,Text,Date and Time,Favorite Count,Retweet Count,Images Count
0,"Many Congratulations to @midasIIITD student, S...",Mon Apr 08 07:08:12 +0000 2019,13,2,NaN
1,@midasIIITD thanks all students who have appea...,Mon Apr 08 03:27:42 +0000 2019,3,0,NaN
2,"@himanchalchandr Meanwhile, complete CV/NLP ta...",Sun Apr 07 14:17:29 +0000 2019,0,0,NaN
3,@sayangdipto123 Submit as per the guideline ag...,Sun Apr 07 14:17:09 +0000 2019,0,0,NaN
4,We request all students whose interview are sc...,Sun Apr 07 11:43:24 +0000 2019,1,1,NaN
5,"Other queries: ""none of the Tweeter Apis give ...",Sun Apr 07 06:55:19 +0000 2019,5,2,NaN
6,"Other queries: ""do we have to make two differe...",Sun Apr 07 06:53:38 +0000 2019,4,1,NaN
7,"Other queries: ""If using Twitter api, it does ...",Sun Apr 07 05:32:27 +0000 2019,6,1,NaN
8,Response to some queries asked by students on ...,Sun Apr 07 05:29:40 +0000 2019,7,1,NaN
9,RT @kdnuggets: Top 8 #Free Must-Read #Books on...,Sat Apr 06 17:11:29 +0000 2019,0,2,NaN
10,@nupur_baghel @PennDATS Congratulation @nupur_...,Sat Apr 06 16:43:27 +0000 2019,18,3,NaN
11,We have emailed the task details to all candid...,Fri Apr 05 16:08:37 +0000 2019,11,1,NaN
12,RT @rfpvjr: Our NAACL paper on polarization in...,Fri Apr 05 04:05:11 +0000 2019,0,16,NaN
13,RT @kdnuggets: Effective Transfer Learning For...,Fri Apr 05 04:04:43 +0000 2019,0,11,1.0
14,RT @stanfordnlp: What’s new in @Stanford CS224...,Wed Apr 03 18:31:53 +0000 2019,0,59,NaN
15,RT @DeepMindAI: Today we're releasing a large-...,Wed Apr 03 17:04:32 +0000 2019,0,868,NaN
16,RT @ylecun: Congratulations Jitendra Malik !\n...,Wed Apr 03 09:03:40 +0000 2019,0,16,NaN
17,RT @IIITDelhi: Another chance to take admissio...,Wed Apr 03 07:46:02 +0000 2019,0,4,NaN
18,Dear @midasIIITD internship candidates who hav...,Tue Apr 02 04:20:13 +0000 2019,8,1,NaN
19,Looking forward to your paper submission to @I...,Tue Apr 02 02:44:54 +0000 2019,5,1,NaN
20,RT @ngrams: Reproducibility in multimedia rese...,Tue Apr 02 02:35:44 +0000 2019,0,7,NaN
21,Online application for https://t.co/DJFDrQsHZP...,Mon Apr 01 06:53:08 +0000 2019,7,2,NaN
22,RT @ACMMM19: A final reminder of the Reproduci...,Sun Mar 31 10:21:24 +0000 2019,0,10,NaN
23,RT @isarth23: Thanks for the support and help ...,Fri Mar 29 19:43:24 +0000 2019,0,2,NaN
24,"Since SemEval-2019 will be held June 6-7, 2019...",Fri Mar 29 17:16:40 +0000 2019,9,1,NaN
25,+@aggarwal_kartik.\nCongrats! Wish you many mo...,Fri Mar 29 17:04:30 +0000 2019,2,0,NaN
26,RT @aggarwal_kartik: Our work (@midasIIITD ) a...,Fri Mar 29 17:03:29 +0000 2019,0,1,NaN
27,"Congratulations! @midasIIITD team, @isarth23 @...",Fri Mar 29 17:02:24 +0000 2019,9,1,NaN
28,@EEMLcommunity @radamihalcea too many deadline...,Fri Mar 29 05:35:22 +0000 2019,0,0,NaN
29,RT @stanfordnlp: CS224N Natural Language Proce...,Thu Mar 28 16:55:01 +0000 2019,0,716,NaN
...,...,...,...,...,...
170,@ACMMM19 is structured around four themes (alp...,Sun Jan 06 04:07:29 +0000 2019,1,0,NaN
171,ACM Multimedia 2019: First Call for Papers/Cal...,Sun Jan 06 04:05:38 +0000 2019,4,2,NaN
172,RT @ACMMM19: Happy new year! 2019 started with...,Thu Jan 03 06:14:05 +0000 2019,0,2,NaN
173,You may follow @midasIIITD updates through fol...,Tue Jan 01 17:21:49 +0000 2019,4,2,NaN
174,"Today, @midasIIITD completed one year at @IIIT...",Tue Jan 01 17:17:56 +0000 2019,14,5,NaN
175,RT @debanjanbhucs: Happy anniversary to @midas...,Tue Jan 01 16:14:24 +0000 2019,0,4,NaN
176,Two Research Assistant (RA) positions are stil...,Thu Dec 27 10:28:31 +0000 2018,2,1,NaN
177,Positions for two Research Assistants (RA) are...,Thu Dec 27 09:59:06 +0000 2018,5,3,NaN
178,RT @TCoolsIT: I wrote a blogpost on CoreNLP hi...,Thu Dec 27 02:33:58 +0000 2018,0,12,NaN
179,@RatnRajiv delivered a research talk at the Ce...,Wed Dec 26 09:41:04 +0000 2018,14,2,NaN
180,@midasIIITD look forward to work together. htt...,Tue Dec 25 04:15:15 +0000 2018,1,0,NaN
181,"@the_dhumketu @punnibhai @Hitkul_, FYI. https:...",Tue Dec 25 03:00:21 +0000 2018,2,1,NaN
182,RT @iiit_hyderabad: KCIS Distinguished Lecture...,Mon Dec 24 07:39:21 +0000 2018,0,11,NaN
183,RT @StanfordAILab: Our latest blog post is out...,Fri Dec 21 03:50:39 +0000 2018,0,32,NaN
184,"RT @medialab: In two new papers, @PratikShahPh...",Thu Dec 20 18:05:35 +0000 2018,0,8,NaN
185,RT @RatnRajiv: Wonderful get together with our...,Thu Dec 20 06:14:52 +0000 2018,0,3,NaN
186,@ACMMM19 is the premier international conferen...,Wed Dec 19 02:16:31 +0000 2018,2,3,NaN
187,Feel free to contact us if you have any query ...,Tue Dec 18 14:42:27 +0000 2018,3,2,NaN
188,@NilayShri @RatnRajiv @ACMMM19 Looking forward...,Tue Dec 18 14:27:12 +0000 2018,3,0,NaN
189,"@midasIIITD head, Dr. @RatnRajiv appointed as ...",Tue Dec 18 14:15:32 +0000 2018,12,5,NaN
190,@ACMMM19 @the_dhumketu fill the volunteer form...,Tue Dec 18 12:34:10 +0000 2018,1,0,NaN
191,RT @ACMMM19: New in 2019! Volunteer to serve a...,Tue Dec 18 12:33:42 +0000 2018,0,7,NaN
192,RT @IIITDelhi: Congratulations! authors Yaman ...,Tue Dec 18 04:38:35 +0000 2018,0,3,NaN
193,Best wishes to @midasIIITD students @_himanshu...,Mon Dec 17 16:57:00 +0000 2018,14,4,NaN
194,RT @MIT: Computer model could improve human-ma...,Mon Dec 17 15:05:44 +0000 2018,0,20,NaN
195,RT @kdnuggets: Great @Wired interview with Geo...,Mon Dec 17 14:37:00 +0000 2018,0,20,NaN
196,RT @harvardmed: A defective metabolic pathway ...,Mon Dec 17 14:05:47 +0000 2018,0,167,NaN
197,RT @stanfordnlp: Thread on (neural) reasoning....,Sun Dec 16 15:01:20 +0000 2018,0,10,NaN
198,"Congratulations! Yaman @the_dhumketu, Rohit, S...",Wed Dec 12 03:56:19 +0000 2018,16,3,NaN
199,Yaman @the_dhumketu presented our idea of reco...,Sat Dec 01 15:24:51 +0000 2018,20,4,NaN

In [6]:
# Columns contained in dataframe
print(table.columns)

Index(['Text', 'Date and Time', 'Favorite Count', 'Retweet Count',
       'Images Count'],
      dtype='object')